<div class="header">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="/viewList">View List</a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="/viewTodos">View Todos</a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="/createItem">Create Item</a>
        </li>
      </ul>
    </div>
  </nav><!--The content below is only a placeholder and can be replaced.-->
</div>
