<footer class="footer bg-dark rounded-top">
  <div class="container-fluid py-2">
    <p class="text-white my-2 text-center">
      &copy;{{autor.nombre + ' ' +  autor.apellido}}
    </p>
  </div>
</footer>

