<div class="card border-info mb-3 ">
  <div class="card-header"><h5>{{titulo}} </h5></div>
  <div class="card-boddy">
    <p></p>
    <div class="form-group row offset-md-2">
      <label for="id" class="col-form-label col-sm-2"> ID </label>
      <div class="col-sm-6">
        <input id="id" type="number" class="form-control" [(ngModel)]="pelicula.id" required="true" name="idForm"
               disabled="{{!esCrear}}">
      </div>
    </div>
    <div class="form-group row offset-md-2">
      <label for="title" class="col-form-label col-sm-2"> Title </label>
      <div class="col-sm-6">
        <input id="title" type="text" class="form-control" [(ngModel)]="pelicula.title" required="true" name="titleForm">
      </div>
    </div>
    <div class="form-group row offset-md-2">
      <label for="description" class="col-form-label col-sm-2"> Description </label>
      <div class="col-sm-6">
        <input id="description" type="text" class="form-control" required="true" name="descriptionForm"
               [(ngModel)]="pelicula.descripcion">
      </div>
    </div>
    <div class="form-group row offset-md-2">
      <label for="author" class="col-form-label col-sm-2"> Author </label>
      <div class="col-sm-6">
        <input id="author" type="text" class="form-control" name="authorForm" [(ngModel)]="pelicula.autor">
      </div>
    </div>
    <div class="form-group offset-md-4">
      <div class="col-sm-6">
        <button class="btn btn-info  col-sm-4 " role="button"
                (click)="esCrear ?  crear() : actualizar()">{{esCrear ? 'crear' : 'actualizar'}}</button>
        <button class="btn btn-info  col-sm-4"  (click)="eliminar()" *ngIf="!esCrear"  style="margin-left: 2px" role="button">Eliminar</button>
      </div>
    </div>
  </div>
</div>
