<div class="card border-info mb-3">
  <div class="card-header"><h5>Peliculas Itau</h5></div>
  <div class="card-body text-dark">
    <div class="form-group row ">
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          name="searchString"
          placeholder="Title"
          [(ngModel)]="searchTitle"
        />
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          name="searchString"
          placeholder="Id"
          [(ngModel)]="searchId"
        />
      </div>
    </div>
    <div class="table-responsive">
      <table class="table   table-hover">
        <thead  class="thead-info">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Title</th>
          <th scope="col" *ngIf="firebase">Description</th>
          <th scope="col" *ngIf="firebase">Author</th>
          <th scope="col" *ngIf="firebase" >Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pelicula of peliculas  | filter : [searchId,searchTitle];">
          <th>{{pelicula.id}}</th>
          <td>{{pelicula.title}}</td>
          <td *ngIf="firebase">{{pelicula.descripcion}}</td>
          <td *ngIf="firebase" >{{pelicula.autor}} </td>
          <td *ngIf="firebase" >
            <button type="button" name="button"  [routerLink]="['../editItem', pelicula.id]" class="btn btn-info ">Detalles
            </button>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
